#
#   Helios.
#   Copyright (C) 2015-2019 Cartesian Theatre. All rights reserved.
#

# Functional test to verify module imports without issue...
Tests: test-import-module.py
Depends: python3-helios-client
Restrictions: isolation-container

# Unit test to verify API is working correctly with a live server. Since
#  containers may not necessarily have network access, we'll some sample songs
#  from Lincity's data package...
Tests: test-module-usage.py
Depends: python3-helios-client, helios-server, lincity-ng-data
Restrictions: isolation-container

