Source: python-helios-client
Section: python
Priority: optional
Maintainer: Cartesian Theatre Packaging <packaging@cartesiantheatre.com>
Standards-Version: 4.3.0.3
Testsuite: autopkgtest-pkg-python
Build-Depends:
    bash-completion (>= 1:2.1),
    coreutils (>= 8.23),
    debhelper-compat (= 11),
    dh-exec,
    dh-python,
    lintian,
    patch,
    python3-all,
    python3-attr,
    python3-marshmallow,
    python3-requests,
    python3-setuptools,
    python3-tqdm (>= 4.32.2),
    python3-zeroconf
Homepage: https://www.heliosmusic.io
Vcs-Git: https://www.github.com/cartesiantheatre/python-helios-client.git
Vcs-Browser: https://github.com/cartesiantheatre/python-helios-client

Package: python3-helios-client
Architecture: all
Multi-Arch: foreign
Depends:
    ${misc:Depends},
    ${python3:Depends}
Description: pure python module to access a remote Helios server (Python 3)
 Helios is an intelligent music recommendation platform.
 .
 This is an easy to use public pure Python 3 module that provides an API to
 communicate with a remote Helios server. The helios-client-utilities package
 is an example that uses it.

