#!/usr/bin/make -f
#
#   Helios.
#   Copyright (C) 2015-2019 Cartesian Theatre. All rights reserved.
#

# Output every command that modifies files on the build system...
DH_VERBOSE = 1
export DH_OPTIONS=-v

# Set pybuild package name...
export PYBUILD_NAME=helios

# Main packaging script based on debhelper 7 syntax. The % is an implicit
#  pattern rule that acts as a universal target...
%:
	dh $@  --with python3 --buildsystem=pybuild

